@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@keyframes rainbow {
    0%, 100% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 0;
    }
  }
  
  .rainbow-text {
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    animation: rainbow 3s linear infinite;
  }
  